{{! Default Docstring Template }}
{{=<% %>=}}
<%summaryPlaceholder%>

<%extendedSummaryPlaceholder%>

Arguments:
<%#args%>
    <%var%> {<%typePlaceholder%>} -- <%descriptionPlaceholder%>
<%/args%>

Keyword Arguments:
<%#kwargs%>
    <%var%> {<%typePlaceholder%>} -- <%descriptionPlaceholder%> (default: {<%default%>})
<%/kwargs%>

Raises:
<%#raises%>
    <%exception%>: <%descriptionPlaceholder%>
<%/raises%>

Returns:
<%#returns%>
    <%typePlaceholder%> -- <%descriptionPlaceholder%>
<%/returns%>
