{{! Default Docstring Template }}
{{=<% %>=}}
<%summaryPlaceholder%>

<%extendedSummaryPlaceholder%>

<%#args%>
Arguments:
<%/args%>
<%#args%>
    <%var%> {<%typePlaceholder%>} -- <%descriptionPlaceholder%>
<%/args%>

<%#kwargs%>
Keyword Arguments:
<%/kwargs%>
<%#kwargs%>
    <%var%> {<%typePlaceholder%>} -- <%descriptionPlaceholder%> (default: {<%default%>})
<%/kwargs%>

<%#raises%>
Raises:
<%/raises%>
<%#raises%>
    <%exception%>: <%descriptionPlaceholder%>
<%/raises%>

<%#returns%>
Returns:
<%/returns%>
<%#returns%>
    <%typePlaceholder%> -- <%descriptionPlaceholder%>
<%/returns%>
