{{! Google Docstring Template }}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersAvailable}}
Args:
{{/parametersAvailable}}
{{#args}}
    {{var}} ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
    {{var}} ({{typePlaceholder}}, optional): {{descriptionPlaceholder}}. Defaults to {{default}}.
{{/kwargs}}

{{#raises}}
Raises:
{{/raises}}
{{#raises}}
    {{exception}}: {{descriptionPlaceholder}}
{{/raises}}

{{#returns}}
Returns:
{{/returns}}
{{#returns}}
    {{typePlaceholder}}: {{descriptionPlaceholder}}
{{/returns}}
