{{! Numpy Docstring Template }}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersExist}}
Parameters
----------
{{/parametersExist}}
{{#args}}
{{var}} : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
{{var}} : {{typePlaceholder}}, optional
    {{descriptionPlaceholder}}, by default {{default}}
{{/kwargs}}

{{#returns}}
Returns
-------
{{/returns}}
{{#returns}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}

{{#exceptions}}
Raises
------
{{/exceptions}}
{{#exceptions}}
{{type}}
    {{descriptionPlaceholder}}
{{/exceptions}}
